@using Application.Dtos.UserLogInDTO
@model UserLogInDTO;

@{
    Layout = "_SiteLayout";
}

<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ورود </title>

</head>

<style>


    .submitbtn
    {
        background-color: #333;
        color: #fff;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer
    }

    .submitbtn:hover
    {
            color: white;
            background-color: #555;
    }

</style>

<body>


    <div class="container-fluid">

        <div class="row justify-content-center m-2 p-2">

            <div class="text-center m-2">
                <h4>ورود</h4>
            </div>

            <hr />

            <div class="col-12 col-md-6 m-5">

                <form method="post" asp-area="SitePanel" asp-controller="User" asp-action="LogIn" class="border-1 justify-content-center">

                    <div class="mb-3">

                        <label class="form-label">نام کاربری یا شماره موبایل</label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="لطفا نام کاربری یا شماره موبایل را وارد کنید">
                        <span style="color:red" asp-validation-for="UserName"></span>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">رمز عبور</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="لظفا رمز عبور را وارد کنید">
                        <span style="color:red" asp-validation-for="Password"></span>

                    </div>

                    <div class="mb-3">

                        @if (TempData["Message"] != null)
                        {
                            <span style="color:red">@TempData["Message"]</span>
                        }

                    </div>


                    <div class="text-center m-2 " >
                        <button type="submit" class="submitbtn w-25 p-2">ورود</button>
                    </div>
                   



                </form>

                <hr />

                <a style="color:black;" asp-area="SitePanel" asp-controller="User" asp-action="Register">حساب کاربری ندارید؟</a>
                <br></br>
                <a style="color:black;" asp-area="SitePanel" asp-controller="User" asp-action="LogInWithSms">ورود با رمز یکبار مصرف</a>
                <br></br>
                <a style="color:black;" asp-area="SitePanel" asp-controller="User" asp-action="LookUpSms">LookUpSms</a>


            </div>


        </div>

    </div>










</body>

</html>
