@using Application.Dtos.UserRegisterDTO
@model UserRegisterDTO;

@{
    Layout = "_SiteLayout";
}




<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ثبت نام </title>

</head>

<style>



    .submitbtn {
        background-color: #333;
        color: #fff;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer
    }

        .submitbtn:hover {
            color: white;
            background-color: #555;
        }

</style>

<body>






    <div class="container-fluid">

        <div class="row justify-content-center m-2 p-2">

            <div class="text-center m-2">
                <h4>ثبت نام</h4>
            </div>

            <hr/>

            <div class="col-12 col-md-6 m-5">

                <form method="post" asp-area="SitePanel" asp-controller="User" asp-action="LogIn" class="border-1 justify-content-center">

                    <!--UserName-->
                    <div class="mb-3">

                        <label class="form-label">نام کاربری</label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="لطفا نام کاربری را وارد کنید">
                        <span style="color:red" asp-validation-for="UserName"></span>

                    </div>


                    <!--Phone-->
                    <div class="mb-3">

                        <label class="form-label">تلفن همراه</label>
                        <input class="form-control" type="tel" asp-for="Phone" placeholder="لطفا تلفن همراه خود را وارد کنید">
                        <span style="color:red" asp-validation-for="Phone"></span>

                    </div>


                    <!--Password-->
                    <div class="mb-3">

                        <label class="form-label">رمز عبور</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="لظفا رمز عبور را وارد کنید">
                        <span style="color:red" asp-validation-for="Password"></span>

                    </div>


                    <!--RePassword-->
                    <div class="mb-3">

                        <label class="form-label">تکرار رمز عبور</label>
                        <input class="form-control" type="password" asp-for="RePassword" placeholder="لطفا رمز عبور را دوباره وارد کنید">
                        <span style="color:red" asp-validation-for="RePassword"></span>

                    </div>

                    <div class="mb-3">

                        @if (TempData["Message"] != null)
                        {
                            <span style="color:red">@TempData["Message"]</span>
                        }

                    </div>


                    <div class="text-center m-2 ">
                        <button type="submit" class="submitbtn w-25 p-2">ثبت نام</button>
                    </div>




                </form>

                <hr />
                <a style="color:black;" asp-area="SitePanel" asp-controller="User" asp-action="LogIn">حساب کاربری دارید؟</a>
                <br></br>
            


            </div>


        </div>

    </div>










</body>

</html>