@using NutsShop_Presentation.Areas.SitePanel.ViewModels
@model IndexViewModel;

@{
    Layout = "_SiteLayout";
}



<html lang="en">


<style>


</style>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Example</title>
    <!-- لینک به فایل CSS -->
    <link rel="stylesheet" href="~/Bootstrap/css/bootstrap.min.css">

</head>

<body>
    <!-- محتوای صفحه -->
    <!--Header-->>
    <div class="container">

        <div class="row ">

            <nav class="col-4 navbar navbar-expand-lg navbar-light bg-light">

     
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>


                </ul>

            </nav>

            <nav class="col-4 navbar navbar-expand-lg navbar-light bg-light justify-content-center">

                <ul class="navbar-nav mr-auto justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>


                </ul>

            </nav>


            <nav class="col-4 navbar navbar-expand-lg navbar-light bg-light justify-content-end">

                <ul class="navbar-nav mr-auto justify-content-end">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>


                </ul>

            </nav>

        </div>


    </div>


    </div>








    <!-- لینک به فایل JS -->
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


