@using Application.Dtos.ShopDTO

@{
    var shop = TempData["Shop"] as ShopDTO;
}

<html>



<body>

   

        <!--Content-->

        <div>

            @RenderBody();

        </div>



     


</body>

</html>