<html>

<style>

    a {
        font-family: Arial, sans-serif;
        text-decoration: none;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        color: floralwhite;
        font-weight: bold;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        color: #fff;
        box-shdow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbarleft {
        display: flex;
        flex-direction: row;
    }

    

    .navbarright {
        display: flex;
        flex-direction: row;
    }

    .navbarcenter {
    }



    .navbar .menu,
    .navbar .search {
        cursor: pointer;
        padding: 8px 12px;
        border-radius: 5px;
    }

        .navbar .menu:hover,
        .navbar .search:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transition: background-color 0.3s ease;
        }

    .navbar .search {
        margin-right: 10px;
    }

    .navbar .menu {
        margin-right: 20px;
    }

    .navbar .search:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .navbar .menu:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }



    .categories {
        margin: 25px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .category {
        text-align: center;
        cursor: pointer;
    }

        .category:hover {
            transform: scale(1.1);
        }

        .category img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #333;
        }

        .category span {
            display: block;
            margin-top: 5px;
            font-weight: bold;
        }


    .products {
        background-color: #555;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product {
        width: 15%;
        height: 25%;
        margin: 15px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        text-align: center;
    }

        .product img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .product h3 {
            margin-bottom: 10px;
        }

        .product p {
            margin-bottom: 10px;
        }

        .product span {
            display: block;
            margin-bottom: 10px;
        }

        .product button {
            background-color: #333;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .product button:hover {
                background-color: #555;
            }

    .footer {
        display: flex;
        justify-content: space-between;
        background-color: #333;
        color: #fff;
        padding: 30px 50px;
    }

        .footer h3 {
            margin-bottom: 20px;
        }

        .footer p {
            margin-bottom: 10px;
        }

        .footer ul {
            list-style: none;
            padding: 0;
        }

            .footer ul li a {
                color: #fff;
                text-decoration: none;
            }

                .footer ul li a:hover {
                    text-decoration: underline;
                }

</style>

<body>

    <div class="navbar">

        <div class="navbarleft">

            @if (User.Identity.IsAuthenticated == true)
            {

                <div class="menu">
                   
                    <label>@User.Identity.Name</label>

                </div>

                <div class="menu"><a asp-area="SitePanel" asp-controller="User" asp-action="LogOut">خروج</a></div>

            }

            else
            {

                <div class="menu"><a asp-area="SitePanel" asp-controller="User" asp-action="LogIn">ورود</a></div>
                <div class="menu"><a asp-area="SitePanel" asp-controller="User" asp-action="Register">ثبت نام</a></div>

            }


        </div>

        <div class="navbarcenter">

            <div>
                <h1>آجیل و خشکبار دانیال</h1>
            </div>

        </div>

        <div class="navbarright">

            <div class="menu"><a asp-area="SitePanel" asp-controller="Home" asp-action="Cart">سبد خرید</a></div>
            <div class="menu"><a asp-area="SitePanel" asp-controller="Home" asp-action="Index">خانه</a></div>

        </div>



    </div>


    <!--Content--></>
    <div>
        @RenderBody();

    </div>



    <footer class="footer">
    </footer>

</body>

</html>