@using Application.Dtos.CategoryDTO
@using Application.Dtos.ShopDTO

@{
    var shop = TempData["Shop"] as ShopDTO;
    var Categories = TempData["Categories"] as List<CategoryDTO>;

}



<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <title>BootStrap</title>
</head>

<style>

    body {
        padding-top: 70px;
        background-color: #FFFAFA;
    }

    .navbar {
        background-color: #555;
        padding: 10px 20px;
        color: #fff;
    }


    a {
        font-family: Arial, sans-serif;
        text-decoration: none;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }







    .carousel .item {
        height: 300px;
    }



    .products {
        background-color: #555;
        flex-wrap: wrap;
    }

    .product {
        margin: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        text-align: center;
    }

        .product img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .product h3 {
            margin-bottom: 10px;
        }

        .product p {
            margin-bottom: 10px;
        }

        .product span {
            display: block;
            margin-bottom: 10px;
        }

        .product button {
            background-color: #333;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .product button:hover {
                background-color: #555;
            }

    .Categories {
        border-radius: 5px;
    }

    .Footer a {
        color: #fff !important;
    }

    .Footer {
        background-color: #555;
    }

</style>

<body class="" dir="rtl">


    <!--Navbar-->
    <div class="">

        <div class="container-fluid">

            <nav class="navbar navbar-expand-md navbar-dark fixed-top w-100">

                <div class="container-fluid">

                    <a class="navbar-brand" asp-area="SitePanel" asp-controller="Home" asp-action="Index"><h2>آجیل و خشکبار دانیال</h2></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav">

                            <hr></hr>

                            <li class="nav-item m-2 p-2">
                                <a asp-area="SitePanel" asp-controller="Home" asp-action="ShowAllProducts">همه محصولات(جستجو)</a>
                            </li>

                            <hr></hr>




                            <!--کاربر-->
                            <li class="nav-item dropdown m-2 p-2">

                                <a class=" dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">کاربر</a>


                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-area="SitePanel" asp-controller="User" asp-action="logIn" class="dropdown-item">ورود</a></li>
                                        <li><a asp-area="SitePanel" asp-controller="User" asp-action="Register" class="dropdown-item">ثبت نام</a></li>
                                    }
                                    else
                                    {

                                        <div class="mx-4"><label>@User.Identity.Name</label></div>
                                        <li><a class="dropdown-item">حساب کاربری</a></li>
                                    }


                            </li>


                            <li><hr class="dropdown-divider"></li>



                            <div class="d-flex mx-2">

                                <button class="btn btn-outline-dark" type="submit">

                                    <a asp-area="SitePanel" asp-controller="Home" asp-action="Cart">

                                        <i class="bi-cart-fill me-1"></i>
                                        سبد خرید
                                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>

                                    </a>


                                </button>
                            </div>

                        </ul>
                        </li>


                        <hr></hr>

                        <!--دسته بندی ها--></>
                        <a class="m-2 p-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                            دسته بندی ها
                        </a>





                        </ul>

                    </div>

                </div>

            </nav>

        </div>

    </div>

    <!--Content-->

    <div>

        @RenderBody();

    </div>

    <!--Footer-->
    <div class="Footer">

        <div class="container-fluid">

            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <p class="text-body-secondary">© 2024</p>
                </div>

                <div class="col mb-3">
                </div>

                <div class="col mb-3">
                    <h5></h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>
            </footer>


        </div>

    </div>


    <!--offcanvas-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">دسته بندی ها</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <hr />

        <div class="offcanvas-body">

            <div class="dropdown mt-3">

                <ul>

                    @foreach (var item in Categories)
                    {
                        <li><a asp-area="SiePanel" asp-controller="Home" asp-action="ShowProductByCategory" asp-route-CategoryId="@item.Id" class="dropdown-item my-2">@item.CategoryTitle</a></li>
                        <hr />
                    }


                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>

