@using Application.Dtos.UserLogInDTO
@model UserAdminPanelDTO;

@{
    Layout = "_AdminLayout";
}



<head>

    <noscript>

        <style>

            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }

        </style>


    </noscript>

</head>



<body>

    <div class="InputContainer" style="display: flex; flex-direction: column;align-content: center; justify-content: center; align-items: center;">

        <div style="display:flex; align-items: center; margin-top: 20px;">
        </div>



        <div>

            <div class="contant-section px-3 px-lg-4 pb-4" id="contact">

                <form method="post" asp-area="AdminPanel" asp-controller="Admin" asp-action="EditUser" enctype="multipart/form-data">

                    <div class="row">

                        <div class="col-6">

                            <label>Id</label>
                            <input readonly class="form-control" style="margin: 10px" type="text"
                                   asp-for="Id" placeholder="Product Name" required="">
                        </div>


                        <!--User Name-->

                        <div class="col-6">

                            <label>User Name</label>
                            <input class="form-control" style="margin: 10px" type="text"
                                   asp-for="UserName" placeholder="Product Name" required="">
                        </div>


                        <!--Phone-->

                        <div class="col-6">

                            <label>Phone</label>
                            <textarea class="form-control" style="margin: 10px" type="text" asp-for="Phone" placeholder="Description" required=""></textarea>

                        </div>

                        <br>

                     


                    </div>

                    <div>
                        <button class="btn btn-primary mt-2" type="submit">Edit information</button>
                    </div>

                </form>

            </div>

        </div>


    </div>

    <hr style="height: 5px; color: black;"></hr>

</body>

<script>

    const fileInput = document.getElementById('UserAvatarIFromFIle');

    const image = document.getElementById('image');

    fileInput.addEventListener('change', function () {

        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            image.src = e.target.result;
        }

        reader.readAsDataURL(file);
    });

</script>
