@using Application.Dtos.ProductDTO
@model ProductDTO;

@{
    Layout = "_AdminLayout";
}



<head>

    <noscript>

        <style>

            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }

        </style>


    </noscript>

</head>



<body>

    <div class="InputContainer" style="display: flex; flex-direction: column;align-content: center; justify-content: center; align-items: center;">

        <div style="display:flex; align-items: center; margin-top: 20px;">
        </div>



        <div>

            <div class="contant-section px-3 px-lg-4 pb-4" id="contact">

                <form method="post" asp-area="AdminPanel" asp-controller="Admin" asp-action="AddProduct" enctype="multipart/form-data">

                    <div class="row">

                        <!--Product Name-->

                        <div class="col-6">
                            <label>Product Name</label>
                            <input class="form-control" style="margin: 10px" type="text"
                                   asp-for="ProductName" placeholder="Product Name" required="">
                        </div>


                        <!--Description-->

                        <div class="col-6">

                            <label>Description</label>
                            <textarea class="form-control" style="margin: 10px" type="text" asp-for="Description" placeholder="Description" required=""></textarea>

                        </div>

                        <br>

                        <!--Price-->

                        <div class="col-6">

                            <label>Price</label>
                            <input class="form-control" style="margin: 10px" type="text" asp-for="Price" placeholder="Your Name" required="">

                        </div>


                    </div>


                    <!--Image-->

                    <div class="col-6">


                        <img class="form-control" style="margin: 10px;width :50%;height:50%" type="file" id="image" name="image" placeholder="Your E-mail">




                        <input id="UserAvatarIFromFIle" type="file" asp-for="ImageIformFile"></>

                    </div>


                    <div>
                        <button class="btn btn-primary mt-2" type="submit">Edit information</button>
                    </div>

                </form>

            </div>

        </div>


    </div>

    <hr style="height: 5px; color: black;"></hr>

</body>

<script>

    const fileInput = document.getElementById('UserAvatarIFromFIle');

    const image = document.getElementById('image');

    fileInput.addEventListener('change', function () {

        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            image.src = e.target.result;
        }

        reader.readAsDataURL(file);
    });

</script>
