@using Application.Dtos.ProductDTO
@model List<ProductDTO>;

@{
    Layout = "_AdminLayout";
}


<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جدول محصولات</title>
    <link rel="stylesheet" href="style.css">

</head>


<style>




    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    th, td {
        padding: 15px;
        text-align: center;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    img {
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }



    .btn
    {
        height:40px;
        width:40%;

    }

    .Addbtn {
        margin: 30px;
        height: 40px;
        width: 40%;
    }

</style>






<body>


    <h1>لیست محصولات</h1>
    <button class="Addbtn"> <a asp-area="AdminPanel" asp-controller="Admin" asp-action="AddProduct">اضافه کردن</a>   </button>

    <div class="container">

       

        <table>

            <tr>
                <th>تصویر</th>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>توضیحات</th>
                <th></th>
            </tr>

            @if (Model != null)
            {

                @foreach (var item in Model)
                {
                    <tr>

                        <td><img src="~/Images/Products/@item.Image" alt="محصول 1"></td>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Description</td>

                        <td>
                            <a asp-area="AdminPanel" asp-controller="Admin" asp-action="EditProduct" asp-route-ProductId="@item.Id"> <button class="btn">ویرایش</button> </a>
                            <button class="btn">حذف</button>
                        </td>

                    </tr>
                }



            }




        </table>

    </div>

</body>

</html>
