@using Application.Dtos.ShopDTO
@model ShopDTO?;

@{
    Layout = "_AdminLayout";
}



<head>

    <noscript>

        <style>

            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }

        </style>


    </noscript>

</head>



<style>

    .maincontainer {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: gray;
        padding: 1px;
    }

    .inputcontainer {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: rgb(224, 224, 224);
        padding: 10px;
    }

    .img {
        margin: 20px;
        width: 300px;
        height: 300px;
    }

    .Roles {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: rgb(224, 224, 224);
        padding: 10px;
    }

    .btn {
        margin: 20px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<body>

    <div class="title">
        <h1>ویرایش اطلاعات فروشگاه</h1>
    </div>


    <div class="maincontainer">


        <form class="maincontainer" method="post" asp-area="AdminPanel" asp-controller="Admin" asp-action="EditShopDetails" enctype="multipart/form-data">

            <div class="row">


                <!--Address-->

                <div class="inputcontainer">

                    <label>Id</label>
                    <input readonly class="form-control" style="margin: 10px" type="text"
                           asp-for="@Model.Id" placeholder="Product Name" required="">

                </div>

                <!--Address-->

                <div class="inputcontainer">

                    <label>Address</label>
                    <input class="form-control" style="margin: 10px" type="text"
                           asp-for="@Model.Address" placeholder="Product Name" required="">

                </div>


                <!--Phone-->

                <div class="inputcontainer">

                    <label>phone</label>
                    <textarea class="form-control" style="margin: 10px" type="text"
                              asp-for="@Model.Phone" placeholder="Description" required=""></textarea>

                </div>

                <!--Shop Name-->

                <div class="inputcontainer">

                    <label>phone</label>
                    <textarea class="form-control" style="margin: 10px" type="text"
                              asp-for="@Model.ShopName" placeholder="Description" required=""></textarea>

                </div>

                
                <br>

            </div>


            <div>
                <button class="btn" type="submit">Edit information</button>
            </div>

        </form>

    </div>

    <hr style="height: 5px; color: black;"></hr>

</body>

